a{
    text-decoration: none ;
    
}
.link{
    position: fixed;
    top:30px;
    right: 100px;


}
a:link {
    text-decoration:none;
    color: rgb(196, 194, 194);
}   
a:visited {
    text-decoration:none;
    color: rgb(62, 62, 62);
} 
a:hover {
    text-decoration:underline;
    color: rgb(255, 137, 40)
}   
a:active {text-decoration:underline;} 