em {
    background-color: rgb(255, 212, 0);
    color: rgb(46, 41, 78);
    
}

strong {
    background-color: hotpink; 
}


h1 {
    padding-top: 5px;
	color: rgba(46, 41, 78);
    font-size: 100px;
    position: relative;
    right:100px;
    top:0px;
    
    
}
h3 {
    width: 400px;
    height:25px;
    padding:2px;
    background-color:rgba(46, 41, 78);
    color:white;
    position: relative;
    left:1000px;
    bottom:130px;
    

}
p {
    background-color: lightblue;
    display: inline;


}
p1{
    color: salmon;
    display: inline-block;
}


.headings{
    border: 5px outset rgb(234, 222, 218);
    padding: 0px;
    position: fixed;

    width: 10000px;
    height:auto;
    
    background-color: rgb(242, 245, 234);
    color: rgb(44, 54, 63);
    z-index: 2;
    font-family: 'Lobster Two', cursive;
}

.one{
    margin-left: 5%;
    position: absolute;
    top:300px;
    padding-left:35px;
    padding-top:50px;
    padding-right:10px;
    padding-bottom:1000px;
    font-family: 'Lobster Two', cursive;

    background-color: #ffe3e0;
    height:auto;
    width: 200px;

}

.two{
    margin-left: 25%;
    position: absolute;
    top:350px;
    padding-left:35px;
    padding-top:50px;
    padding-right:10px;
    padding-bottom:800px;
    font-family: 'Lobster Two', cursive;

    background-color: #fbc3bc;
    height:auto;
    width: 200px;
    
}
.three{
    margin-left:45%;
    position: absolute;
    top:400px;
    padding-left:25px;
    padding-top:50px;
    padding-right:20px;
    padding-bottom:650px;

    font-family: 'Lobster Two', cursive;
    background-color: #f7a399;
    height:auto;
    width: 200px;
    
}
.four{
    margin-left: 65%;
    position: absolute;
    top:450px;
    padding-left:35px;
    padding-top:50px;
    padding-right:10px;
    padding-bottom:350px;
    font-family: 'Lobster Two', cursive;

    background-color: #f38375;
    height:auto;
    width: 200px;

}
.five{
    margin-left: 85%;
    position: absolute;
    top:500px;
    padding-left:35px;
    padding-top:50px;
    padding-right:20px;
    padding-bottom:300px;
    background-color: #fec89a;
    font-family: 'Lobster Two', cursive;

    
    height:auto;
    width: 200px;
}
.six{
    margin-left: 106%;
    position: absolute;
    top:550px;
    padding-left:35px;
    padding-top:50px;
    padding-right:20px;
    padding-bottom:10px;
    background-color: #f9dcc4;
    font-family: 'Lobster Two', cursive;

    
    height:auto;
    width: 200px;
}

.link{
    margin-left: 5%;
    position: absolute;
    top:1480px;
}