body{
    font-size:26px;
  
    font-family: 'Rokkitt', serif;

    /* background-image: url("https://images.unsplash.com/photo-1604079628040-94301bb21b91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2187&q=80"); */
    background-image: url("anthony-ievlev-RZk2SjAGhZw-unsplash.jpg");
    background-size: 100%;
}
div{
  color:rgb(66, 25, 25);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 16%;
    background-color: #f1f1f165;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a { 
    display: block;
    color: rgba(36, 23, 11, 0.726);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #e25c09ae;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #afa68e77;
    color: rgb(249, 214, 117);
  }

  .active{
      font-size:26px;
  }

  hr{
    color:rgb(244, 244, 244);
  }