em {
    background-color: rgb(255, 212, 0);
    color: rgb(46, 41, 78, );
    
}

strong {
    background-color: hotpink; 
}

@keyframes h1 {
    
    100% {left:-300px;}
    0% {left: 12px; color: rgb(113, 64, 153);}
  }

h1 {
    text-shadow: 1px 1px 2px black, 0 0 30px rgba(255, 238, 0, 0.842), 0 0 5px darkblue;
    padding-top: 5px;
	color: rgba(46, 41, 78);
    font-size: 100px;
    position: relative;
    right:100px;
    top:0px;
    
    animation: h1 1s ease-out forwards infinite alternate-reverse;
    
    
}
/* animation: example 5s linear 2s infinite alternate; */
@keyframes h3{
    00%{color:rgb(248, 248, 248);}
    33%{color:rgb(231, 255, 93);}
    66%{color:rgb(255, 152, 93);}
    100%{color:rgb(0, 247, 255);}
}

h3 {
    border-radius: 15px;
    border:3px rgba(0, 0, 0, 0.212) inset;
    width: 400px;
    height:25px;
    padding:2px;
    background-color:rgba(46, 41, 78);
    color:white;
    position: relative;
    left:1000px;
    bottom:130px;
    animation: h3 0.3s linear 2s infinite ;
    

}
p {
    background-color: lightblue;
    display: inline;


}
p2{
    
    border-color: salmon;
    display: inline-block;
}


@keyframes img{
    00%{border-color:rgb(255, 101, 147);}
    50%{border-color:rgb(253, 253, 253);}
    100%{border-color:rgb(255, 253, 158);}
}
img{
    width:180px;
    height:100px;
    opacity: 85%;
    border:4.2px inset;
    border-radius: 4%;
    border-color: yellow;
    animation:img 3s ease-in-out 2s infinite alternate-reverse;
    
}

@keyframes headings{
    00%{background-color:rgb(255, 185, 185);}
    100%{background-color:rgb(255, 253, 158);}
}
.headings{
    border: 5px outset rgb(234, 222, 218);
    padding: 0px;
    position: fixed;
    width: 10000px;
    height:auto;
    background-color: rgb(242, 245, 234);
    color: rgb(44, 54, 63);
    z-index: 2;
    font-family: 'Lobster Two', cursive;

    animation: headings 5s linear 0s infinite alternate;

}

.one{
    border-radius: 8px;
    border:2px rgb(0,0,0,0.1) groove;
    /* box-shadow: 0px 10px 6px #000000; */

    margin-left: 5%;
    position: absolute;
    top:300px;
    padding-left:35px;
    padding-top:50px;
    padding-right:10px;
    padding-bottom:1000px;
    font-family: 'Lobster Two', cursive;

    background-color: #ffe3e0;
    height:auto;
    width: 200px;

}

.two{
    border-radius: 8px;
    border:2px rgb(0,0,0,0.1) groove;
    margin-left: 25%;
    position: absolute;
    top:350px;
    padding-left:35px;
    padding-top:50px;
    padding-right:10px;
    padding-bottom:800px;
    font-family: 'Lobster Two', cursive;

    background-color: #fbc3bc;
    height:auto;
    width: 200px;
    
}
.three{
    border-radius: 8px;
    border:2px rgb(0,0,0,0.1) groove;
    margin-left:45%;
    position: absolute;
    top:400px;
    padding-left:25px;
    padding-top:50px;
    padding-right:20px;
    padding-bottom:650px;

    font-family: 'Lobster Two', cursive;
    background-color: #f7a399;
    height:auto;
    width: 200px;
    
}
.four{
    border-radius: 8px;
    border:2px rgb(0,0,0,0.1) groove;
    margin-left: 65%;
    position: absolute;
    top:450px;
    padding-left:35px;
    padding-top:50px;
    padding-right:10px;
    padding-bottom:440px;
    font-family: 'Lobster Two', cursive;

    background-color: #f38375;
    height:auto;
    width: 200px;

}
.five{
    border-radius: 8px;
    border:2px rgb(0,0,0,0.1) groove;
    margin-left: 85%;
    position: absolute;
    top:500px;
    padding-left:35px;
    padding-top:50px;
    padding-right:20px;
    padding-bottom:300px;
    background-color: #fec89a;
    font-family: 'Lobster Two', cursive;

    
    height:auto;
    width: 200px;
}
.six{
    border-radius: 8px;
    border:2px rgb(0,0,0,0.1) groove;
    margin-left: 106%;
    position: absolute;
    top:550px;
    padding-left:35px;
    padding-top:50px;
    padding-right:20px;
    padding-bottom:55px;
    background-color: #f9dcc4;
    font-family: 'Lobster Two', cursive;

    
    height:auto;
    width: 200px;
}