
@keyframes body {
    50% {background-size: 3000px px;}}
    
body{
    background-image: url("—Pngtree—cartoon space planet background_133372.jpg");
    /* background-size: 1920px 1080px; */
    animation: mymove 5s infinite;
    /* ("https://picnew14.photophoto.cn/20191118/katongxingkong-35443184_1.jpg"); */

    
    
}
p1 {
    text-shadow: 0px 0px 10px #fffb28f5;
    letter-spacing: 29px;
    text-transform: capitalize;
    
    
}

strong {
    position: relative;
    bottom: 40px;
    border: 2px dotted;
    font-family: 'Cabin Sketch', cursive;
    font-size: 26px;
    letter-spacing: 3px;
    line-height: 1.6;
    color:rgb(255, 255, 255);
    border-radius: 10px;
    text-transform: capitalize;
    /* text-shadow: 0px 0px 20px #fff1e6cb, 1px 0px 2px rgb(54, 123, 252); */
    
}
small{
    text-transform: uppercase;
    font-size: 100px;
    /* color:#ffbc42; */
    color:#bde1fc;
    font-family: 'Cabin Sketch', cursive;
   
}
@keyframes h1 {
    50% {font-size: 60px;}
    /* 100% {left:-300px;} */
    /* 0% {left: 12px; color: rgb(113, 64, 153);} */
  }
h1 {
    text-shadow: 0px 0px 25px #fff1e6cb, 3px 4px 2px rgb(64, 0, 214);
    margin-left: 3%;
    padding-top: 10px;
	color:rgb(254, 255, 169);
    font-family: 'Cabin Sketch', cursive;
    font-size: 64px;

    animation:h1 5s infinite alternate;
    /* 1s ease-out forwards infinite alternate-reverse; */
    
}
@keyframes h3 {
    0% {border-color:rgb(254, 255, 169);}
    25% {border-color: bisque;}
    25% {border-color: rgb(80, 74, 134);}
}

h3 {
    width: 300px;
    height: auto;
    padding:3px;
    border-radius: 9px;
    
    color:rgb(254, 255, 169);
    background-color:rgba(46, 41, 78);
    position: relative;
    left:600px;
    bottom:105px;
    border: 6px rgb(254, 255, 169) dotted;

    font-family: 'Cabin Sketch', cursive;
    font-size: 32px;

    animation: h3 0.4s ease-in-out infinite;

}
div{
    /* font-family: 'Homemade Apple', cursive; */
    /* font-family: 'Oleo Script', cursive; */
    /* font-family: 'Allura', cursive; */
    font-family: 'Mountains of Christmas', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 2;
    color:#ffffff;
    /* text-shadow: 0px 0px 25px #fff1e6cb, 1px 1px 4px rgb(247, 245, 131); */
}  
p {
    
    text-align:right;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 28px;
    letter-spacing: 10px;
    line-height: 1.4;
    
    Position: relative;
    text-align: center;
    left:20px;
    top:30px;
    right:200px;
    color:#ffffff;
 
    

    
} 

