em {
    color:white;
    background-color:darkblue;
      
  }
  small{
    border:10px red double;
    
    
  }
  
  strong {
      border: 2px yellow dotted;
  }
  
  
  h1 {
      padding-top: 10px;
      color: rgba(46, 41, 78);
      
  }
  h3 {
      width: 1800px;
      height:25px;
      padding:5px 0px 0px 0px;
      
      color:white;
      background-color:rgba(46, 41, 78);
      position: relative;
      left:30px;
  
  }
  p {
      color: rgb(73, 81, 117);
      display: inline;
  
  
  }
  
  
  p3 {
      background-color: lightblue;
      float: left;
      width: 30em;
      
    }
  
  .one{
      color: rgb(119, 174, 255);
      margin-left: 10%;
      position: absolute;
      top:500px;
      left:300px;
      padding-left:100px;
      
      height:auto;
      width: 2000px;
  
      
  }
  
  
