em{
    color:#ee6c4d;
}
p1{
    background-color: rgb(182, 204, 254);
}
p2{
    background-color: rgb(204, 219, 253);
}
p3{
    background-color: rgb(171, 196, 255);
}
p4{
    background-color: rgb(226, 234, 252);
}

.heng{
    position:relative;

    left:500px;
    top:10px;
    color:#7cabec;

}
.one{
    color: salmon;
    display: inline-block;
    border: 4px #c0d1fa dashed;
    width:40px;
}
.last{
    margin-left:18%
}