em {
    color:white;
    background-color:darkblue;
   

    
  }
  h2{
    color:rgb(44, 44, 44);
    /* background-color:rgb(0, 0, 0); */
    /* width:700px; */
    padding-left:30px;
    border-left:10px salmon solid;
    
  }
 
    
  small{
    border:2px red ridge;
    
    
  }
  
  strong {
      border: 2px yellow dotted;
  }
  
  
  h1 {
      margin-left: 3%;
      padding-top: 10px;
      color: rgba(46, 41, 78);
      color:rgb(44, 44, 44);
    /* background-color:rgb(0, 0, 0); */
    /* width:700px; */
    padding-left:30px;
    
    border-left:10px salmon solid;
    
  }
      
  
  h3 {
      width: 1800px;
      height:25px;
      padding:5px 0px 0px 0px;
      
      color:white;
      background-color:rgba(46, 41, 78);
      position: relative;
      left:50px;
  
  }
  p {
      color: rgb(73, 81, 117);
      display: inline;
  
  
  }
  
  
  p3 {
      background-color: lightblue;
      float: left;
      width: 30em;
      
    }
  
  .one{
      color: rgb(0, 0, 0);
      
      position: absolute;
      top:500px;
      left:500px;
      
      
      height:auto;
      width: 2000px;
  
      
  }
.link{
  position: fixed;
  top:30px;
  right: 100px;


}
a:link {
    text-decoration:none;
    color: rgb(196, 194, 194);
}   
a:visited {
    text-decoration:none;
    color: rgb(62, 62, 62);
} 
a:hover {
    text-decoration:underline;
    color: rgb(255, 137, 40)
}   
a:active {text-decoration:underline;} 
  
